# Ignore compiled binaries
*.exe
*.dll

# Ignore log files
*.log

# Ignore sensitive configuration files
config.ini

# Ignore a specific folder
/secret-data/


# dependencies
/node_modules
/.pnp
.pnp.js